@font-face {
  font-family: "Bergen Mono";
  src: url("/fonts/BergenMono-Bold.woff2") format("woff2"),
    url("/fonts/BergenMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bergen Mono";
  src: url("/fonts/BergenMono-Regular.woff2") format("woff2"),
    url("/fonts/BergenMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
